.hide {
  display: none;
}

.block {
  background-color: #ffffff;
  border-color: #83c5be;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}

.nav {
  background-color: #e9c46a;  
}

.nav a {
  font-size: 1.8em !important;
}

.page {
  
}

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: Oswald, sans-serif;
  font-size: 46px;
}